body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  #quiz-container {
    margin-top: 100px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  #question {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .option {
    display: block;
    width: 80%;
    max-width: 300px;
    margin: 10px auto;
    padding: 15px;
    font-size: 16px;
    background-color: #336b85;
    color: #fff;
    border:  #062331;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .option:hover {
    background-color: #2a4c8a;
  }